.jumbotron{  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://i.pinimg.com/originals/44/9e/05/449e058844d89d45822a44c9f5f60fe2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
}

.jumtxt{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: x-large    ;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: Haettenschweiler;
  padding-top: 20%;
  color: white;
}

h2{
  color: white;
  font-size: 30px;
  text-align: center;
}

h3{
  font-size: 30px;
  text-align: center;
  font-family: Haettenschweiler;
  color: white;
}

h4{
  font-family: Haettenschweiler;
  font-size: 50px;
  color: white;
  margin-left: 5%;
  padding-top: 7%;
}

h5
{
  margin-top: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: rgb(7, 99, 19);
  font-size: 20px;
  font-family: Haettenschweiler;
}


.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* End Non-Essential  */

.col-lg-4
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  margin: auto;
}

.property-card2
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  margin: auto;
}

.property-card3
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  margin: auto;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('https://images.unsplash.com/photo-1580234811497-9df7fd2f357e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Z2FtaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80');
  background-size:cover;
  background-repeat:no-repeat;
}

.property-image2
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('https://wallpaperaccess.com/full/552032.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.property-image3
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/313/375/non_2x/realsitic-3d-divided-pastel-coloured-headphones-with-wires-vector.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.property-description2
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.property-description3
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Property Cards Hover States */

.col-lg-4:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.col-lg-4:hover .property-image
{
  height:18em;
}

.col-lg-4:hover .property-description2
{
  height:0em;
  padding:0px 1em;
}
.col-lg-4:hover .property-image2
{
  height:18em;
}

.col-lg-4:hover .property-description3
{
  height:0em;
  padding:0px 1em;
}
.col-lg-4:hover .property-image3
{
  height:18em;
}

/* New */

.carouselExampleCaptions{
  padding-left: 5%;
  padding-right: 5%;
}

.carousel-item{
  height: 700px;
}

img{
  background-position: center center;
}
.row{
  margin-top: 12%;
}

.contact{
  background-color: rgb(252, 140, 205);
  height: 950px;;
}

.skills{
  background-color: rgb(98, 148, 255);
  height: 1000px;
}

.hobbies{
  background-color: rgb(0, 223, 186);
  height: 1000px;
}

.forms{
  margin-top: 5%;
}

.form-floating{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
